@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,900i|Oswald:400,700');
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,900i'); */

/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
  box-sizing: border-box;
}

.header-image {
  background: url('images/hero-image.jpg') no-repeat center;
  background-size: cover;
  width:100%;
  height:825px;
  position: relative;
}
.container {
  width:900px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.logo {
  background: url('images/logo.png') no-repeat;
  width:50px;
  height: 50px;
  z-index: 5;
  position: absolute;
}

a:link {
  color: white;
}
a:hover {
  text-decoration: none;
}
ul.top{
  float: right;
  margin-top:20px
}
 li {
  position: relative;
  z-index: 10;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.sub-header {
    background: url('images/logo-text.png') no-repeat;
    width:171px;
    height: 49px;
    z-index: 5;
    position: absolute;
    margin-top: 15px;
}

main {
  background: url('images/image-2.jpg') no-repeat center;
  margin-top:75px;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:903px;
  position: relative;
}
.main-section {
  float: right;
  margin-top: 25px;
}
.main-section li a {
  color:#010f4c;
}
.number,.number2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 135px;
  color:#687896;
}
.number2 {
  color:#b0b4be;
}
.sub-head-title, .sub-head-title2 {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #414f6b;
  /* left: 244px; */
  z-index: 30;
  margin-left: 125px;
  margin-top: 75px;
  font-size: 32px;
  text-transform: uppercase;
}
.sub-head-title2 {
  margin-left: 150px;
}

.number-headline{
  padding-top:50px;
}
.number-headline2{
  padding-top:10px;
}
.body-text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  width: 90%;
  line-height: 25px;
  padding-left: 75px;
  margin-top: -10px;
}
.body-text2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  width: 630px;
  float: right;
  line-height: 25px;
  padding-left: 0px;
  margin-top: 39px;
  z-index: 5;
}

.sub-head-footer {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #414f6b;
  z-index: 30;
  margin-left: 0px;
  margin-top: 75px;
  background: white;
  width: 350px;
  height: 229px;
  padding: 20px;
}

.footer-image {
  margin-top:0;
  background: url('images/footer-image.jpg') no-repeat center;
  /* background-size: cover; */
  width:100%;
  height:544px;
  position: relative;
}
.footer-section li {
  color:#010f4c;
}
.copyright{
  color: #63769d;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
  float: right;
  margin-top: 30px;
}

.top-bar {
  width:100%;
  height:40px;
  background: #414f6b;
}
ul.bottom-nav {
  /* margin: 0 0 0 0px; */
  /* padding-top: 0px; */
}
ul.bottom-nav li{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
  color:#b0b4be;
  font-style: normal;
  padding: 6px 10px;
}
ul.bottom-nav li:hover{
  background: #b0b4be;
  height: 40px;
  color:#414f6b;
}
.container2 {
  width:1050px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .9rem;
}
.tab {
       display:inline-block;
       margin-left: 30px;
}
.footer-logo {
    background: url('images/logo-text-blue.png') no-repeat;
    width:171px;
    height: 49px;
    z-index: 5;
    position: absolute;
    margin-top: 15px;
}
footer {
  width: 100%;
  background: #414f6b;
  height:75px;
}
